<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-mvc:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/spring_mvc_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="spring-mvc/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-mvc" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="ssm" />
          <element id="library" level="project" name="fastjson-1.1.15" />
          <element id="library" level="project" name="jedis-2.3.1" />
          <element id="library" level="project" name="javaee-api-7.0" />
        </element>
      </element>
    </root>
  </artifact>
</component>